* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #4071F4;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-top: 2%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5%;

}

.todo {
    display: flex;
    margin: 0 auto;
    height: 15vh;
    align-items: flex-end;
}

.todo-text {
    color: white;
    font-weight: bold;
    font-size: 6em;
}

.weather {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 20%;
    background: white;
    border-radius: 10px;
    margin-left: 2%;
    height: 15vh;
}

.weather-text {
    display: flex;
    align-self: center;
    color: #4071F4;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 2%;
}

.weather-result {
    font-weight: bold;
    font-size: 1.5em;
    color: #4071F4;
    justify-content: center;
    align-self: center;
    margin: 1% auto;
}

.hello-user {
    height: 4vh;
    width: 10%;
    font-size: 1.5em;
    color: #ffffff;
}


.log-out {
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a {
    text-decoration: none;
}

.log-out-button {
    background: white;
    color: #4071F4;
    border-radius: 10px;
    width: 100%;
    border: none;
    font-size: 1.2em;
    font-weight: bold;
}


.todo-enter {
    margin: 3% auto 3% auto;
    width: 60%;

}


.my-form {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

hr {
    align-self: center;
    background: white;
    width: 60%;
    height: 5px;
}

input {
    margin: 0 auto;
    padding: 20px;
    font-size: 1.2rem;
    border-radius: 20px;
    width: 75%;
    border: none;
    outline: none;
}

.tasks {
    border-radius: 20px;
    margin: 0 auto;
    padding: 10px;
    font-size: 2.2rem;
    font-weight: bold;
    width: 30%;
    border: none;
    color: #4071F4;
    background: white;
    margin-left: 15px;
}

.todo-list-output {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 3%;
}

.straight {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1% 1% 0 1%;

}


.task-id {
    display: flex;
    width: 15%;
    color: white;
    font-size: 2.5em;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.task-body {
    display: flex;
    width: 60%;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.delete-done {
    width: 25%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.done {
    font-weight: bold;
    font-size: 1.5em;
    background: #75DC86;
    border-radius: 10px;
    width: 100%;
    color: white;
}

.undone {
    font-weight: bold;
    font-size: 1.5em;
    background: #dc75bb;
    border-radius: 10px;
    width: 100%;
    color: white;
}

.delete {
    font-weight: bold;
    font-size: 1.5em;
    background: #F97B7B;
    border-radius: 10px;
    width: 100%;
    color: white;
}



.done-delete-bottons{
    width: 40%;
}