{% extends 'base.html' %}
{% block link_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='style_main_page.css')}}">
{% endblock %}
{% block content %}
<div class="container">
    <img class="main-logo" src="{{ url_for('static', filename='/images/logo.png')}}" alt="my_logo">
    <div class="buttons">
        <a href="{{ url_for('login')}}">
            <button type="submit">Login</button>
        </a>
        <a href="{{ url_for('register')}}">
            <button type="submit">Register</button>
        </a>
    </div>
</div>

{% endblock %}

