{% extends 'base.html' %}

{% block link_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='style_log_register.css')}}">
{% endblock %}
{% block content %}
<div>
    <form action="registration" class="my-form">
        <p class="register">Registration</p>
        <input type="text" placeholder="Enter your name" required>
        <input type="email" placeholder="Enter your e-mail" required>
        <input type="password" placeholder="Enter your password" required>
        <input type="password_check" placeholder="Confirm password" required>
        <button type="submit"><span>Register</span></button>
    </form>
</div>
{% endblock %}