{% extends 'base.html' %}


{% block link_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='style_task_page.css')}}">
{% endblock %}
{% block content %}
<div class="main-container">
    <div class="container">
        <div class="weather">
            <div class="weather-text">Weather info:</div>
            <div class="weather-result">City: {{ city }}</div>
            <div class="weather-result">Temperature: {{ temp }}</div>
        </div>
        <div class="todo"><span class="todo-text">To-Do List</span></div>
        <div class="hello-user">Hello, <b>{{ username }}</b></div>
        <div class="log-out">
            <form action="/logout" method="post">
                <input class="log-out-button" type="submit" name="logout" value="Logout">
            </form>
        </div>
    </div>
    <div class="todo-enter">
        <form action="/addtask" method="post" class="my-form">
            <input type="text" name="task" placeholder="Enter your task" required>
            <input class="tasks" type="submit" name="addTask" value="Add Task">
        </form>
    </div>
    <hr>
    <div class="todo-list-output">
        {% for task in tasks %}
        <div class="straight">
            <div class="task-id">Task#{{ loop.index }}</div>
            <div class="task-body">{{ task.body }}</div>
            <div class="delete-done">
                <form class="done-delete-bottons" action="/task/{{ task.id }}/{{ task.user_id }}/done" method="post">
                    {% if task.task_ready_status == 1 %}
                    <input class="done" type="submit" name="done" value="done">
                    {% else %}
                    <input class="undone" type="submit" name="done" value="undone">
                    {% endif %}
                </form>
                <form class="done-delete-bottons" action="/task/{{ task.id }}/{{ task.user_id }}/delete" method="post">
                    <input class="delete" type="submit" name="delete" value="delete">
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}